<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="al.uax.myactivitylist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    
    <uses-permission android:name="al.uax.localizacion.permission.MAPS_RECEIVE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".MyListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".ListasAdapters"
            android:label="@string/app_list_activity">
        </activity>
        <activity 
            android:name=".PrimeraInterfaz"
            android:label="@string/app_primera_interfaz">
        </activity>
<!-- 
        <activity 
            android:name="al.uax.listview.MyListView"
            android:label="@string/app_listView">
        </activity>
-->
		<activity 
            android:name="al.uax.listview.MyListViewProvider"
            android:label="@string/app_listViewProvider">
        </activity>
        <activity 
            android:name="al.uax.listview.EditTravelActivity"
            android:label="@string/app_name_editar_viaje">
        </activity>
        <activity 
            android:name="al.uax.listview.EditTravelActivityProvider"
            android:label="@string/app_name_editar_viaje">
        </activity>
        <activity
            android:name="al.uax.myactivitylist.Receiver"
            android:label="@string/app_name_receiver">
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
             -->
        </activity>
        <activity
            android:name="al.uax.myactivitylist.StickyIntent"
            android:label="@string/app_name_sticky">
        </activity>
        <activity
            android:name="al.uax.myactivitylist.MiPendingIntent"
            android:label="@string/app_name_pending_intent">
        </activity>
        <activity
            android:name="al.uax.myactivitylist.Telephony"
            android:label="@string/app_name_telephony">
        </activity>
        
        <provider 
            android:name="al.uax.listview.TravelProvider"
            android:authorities="al.uax.listview" >
        </provider>
        
        <activity
            android:name="al.uax.fragments.MyFragment"
            android:label="@string/app_name_fragment">
        </activity>
        
        <activity
            android:name="al.uax.myactivitylist.MyAlertDialog"
            android:label="@string/app_name_alert_dialog">
        </activity>
        
        <activity 
            android:name="al.uax.servicios.OperacionesAritmeticas"
            android:label="@string/app_name_operaciones_aritmeticas">
        </activity>
        <service 
            android:name="al.uax.servicios.ServicioAritmeticOps">
        </service>
        <service 
            android:name="al.uax.servicios.ServicioEnlazadoAritmeticOps">
        </service>
        
        <activity 
            android:name="al.uax.xml.XmlWeather"
            android:label="@string/app_name_xml_weather">
        </activity>
        
        <activity 
            android:name="al.uax.telefonia.TelephonyManagerExample"
            android:label="@string/app_name_telefonia">
        </activity>
        
        <activity 
            android:name="al.uax.sms.SmsActivity"
            android:label="@string/app_name_sms">
        </activity>
        <receiver android:name="al.uax.sms.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>
        
        <activity 
            android:name="al.uax.localizacion.LocationActivity"
            android:label="@string/app_name_localizacion">
        </activity>
        
        <activity 
            android:name="al.uax.localizacion.AlertaProximidad"
            android:label="@string/app_name_localizacion">
        </activity>
        
    </application>
    
    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyCJKBOj9L-rRWhC9sRwE_6NGUbIkcd8Oa8" />

</manifest>